
  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
    padding: 20px; 
    margin-top: 12%;
    margin-left: 3%;
  }
  
  .hero h2 {
    font-size: 80px; 
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .hero p{
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
  }
  
  .contactButton {
    background: #7079f0;
    color: white;
    font-family: inherit;
    padding: 0.45em;
    padding-left: 1.0em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
  }
  
  .iconButton {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #5566c2;
  }
  
  .contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #5566c2;
  }
  
  @media only screen and (max-width: 768px) {
    .hero {
      margin-top: 18%; 
      margin-left: 0; 
    }
  
    .hero h2 {
      font-size: 50px; 
    }
  
    .hero p {
      font-size: 30px; 
    }
  }

  @media only screen and (max-width: 425px) {
    .hero {
      margin-top: 40%; 
      margin-left: 0; 
    }
  
    .hero h2 {
      font-size: 35px; 
    }
  
    .hero p {
      font-size: 18px; 
    }
    .contactButton {
      background: #7079f0;
      color: white;
      font-family: inherit;
      padding: 0.45em;
      padding-left: 1.0em;
      font-size: 15px;
      font-weight: 500;
      border-radius: 0.9em;
      border: none;
      letter-spacing: 0.05em;
      display: flex;
      align-items: center;
      box-shadow: inset 0 0 1.6em -0.6em #714da6;
      overflow: hidden;
      position: relative;
      height: 2.8em;
      padding-right: 3em;
    }
  }

  @media only screen and (max-width: 401px) {
    .hero {
      margin-top: 45%; 
      margin-left: 0; 
    }
  
    .hero h2 {
      font-size: 32px; 
    }
  
    .hero p {
      font-size: 17px; 
    }
    .contactButton {
      background: #7079f0;
      color: white;
      font-family: inherit;
      padding: 0.45em;
      padding-left: 1.0em;
      font-size: 12px;
      font-weight: 500;
      border-radius: 0.9em;
      border: none;
      letter-spacing: 0.05em;
      display: flex;
      align-items: center;
      box-shadow: inset 0 0 1.6em -0.6em #714da6;
      overflow: hidden;
      position: relative;
      height: 2.8em;
      padding-right: 3em;
    }
  }

  @media only screen and (max-width: 375px) {
    .hero {
      margin-top: 45%; 
      margin-left: 0; 
    }
  
    .hero h2 {
      font-size: 32px; 
    }
  
    .hero p {
      font-size: 17px; 
    }
    .contactButton {
      background: #7079f0;
      color: white;
      font-family: inherit;
      padding: 0.45em;
      padding-left: 1.0em;
      font-size: 15px;
      font-weight: 500;
      border-radius: 0.9em;
      border: none;
      letter-spacing: 0.05em;
      display: flex;
      align-items: center;
      box-shadow: inset 0 0 1.6em -0.6em #714da6;
      overflow: hidden;
      position: relative;
      height: 2.8em;
      padding-right: 3em;
    }
  }